.header {
    height: 74px;
    background-color:var(--darck-brown);
    padding: 14px 16px;
}
.headerNav {
    display: flex;
    justify-content: space-between;
}
.burger:hover {
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .header {
        padding: 14px 32px;
    }
}

@media screen and (min-width:1440px) {
    .header {
        padding: 14px 108px;
    }
}