.header {
    height: 74px;
    background-color:var(--darck-brown);
    padding: 14px 0;
}
.headerNav {
    display: flex;
    justify-content: space-between;
}
.burger:hover {
    cursor: pointer;
}