.header {
  max-height: 74px;
  background-color: var(--darck-brown);
  color: var(--white);
}
.headerContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 14px 0;
}
.burger {
  position: relative;
  display: block;
}
.burger:hover, .logoutButton:hover {
  cursor: pointer;
}
.closeIcon use {
  fill: transparent;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--darck-brown);
  z-index: 999;
  animation: fadeIn var(--primary-transition);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.navMenu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  right: 0;
  top: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--darck-brown);
  z-index: 1000;
  transition: var(--primary-transition);
}

.logoCloseBtnContainer {
  margin: 0 auto;
  max-width: 393px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMenu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.navMenu li {
  width: 100%;
  display: flex;
  justify-content: center;
  font: var(--body-md-semibold);
  letter-spacing: 0;
}
.navMenu a {
  display: block;
  color: var(--white);
  text-decoration: none;
}
.navMenuOpen {
  top: 0;
}
.btnRegisterReceipes {
  background-color: var(--light-brown);
  border-radius: 8px;
  max-width: 361px;
  width: 100%;
  min-height: 44px;
}
.btnRegisterReceipes:hover {
  background-color: var(--brown);
  cursor: pointer;
  transition: background-color var(--primary-transition);
}
.btnRegisterReceipes:active {
  background-color: var(--light-brown);
  box-shadow:
    0 0 0 6px #4e46b41f,
    0 0 0 2px var(--white);
}
.avatarNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--light-brown);
  border-radius: 50%;
  font:var(--body-sm-semibold);
}
.line {
  display: inline-block;
  width: 1px;
  height: 39px;
  background-color: var(--white);
}
.recipeProfileLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipeProfileLinks >* {
  padding: 16px;
}
.login {
  padding: 16px;
}
.myProfileLink {
  margin-bottom: 16px;
}

.text:hover,
.text:focus,
.logoutButton:hover,
.logoutButton:focus {
  opacity: 50%;
  transition: opacity 0.3s ease-in-out;
}
.logoInMenuOpen {
  padding: 14px 0;
}
.ulContainer {
  padding: 0 16px;
}
.loginRegisterContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
  text-align: center;
}
.userInfoContainer {
  max-width: 393px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap:32px
}
.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.recipesProfileContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media only screen and (min-width: 768px) {

  .myProfileLink {
    margin-bottom: 5px;
  }
  .recipeProfileLinks .myProfileLink {
    margin-right: 32px;
    margin-left: 0;
  }
  .loginRegisterContainer {
    max-height: 74px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    text-wrap: nowrap;
    gap: 0;
    font: var(--body-sm-semibold)
  }
  .btnRegisterReceipes {
    min-width: 127px;
    font: var(--body-md-semibold)
  }
  .closeIcon {
    display: none;
  }
  .navMenu .logoInMenuOpen {
    display: none;
  }
  .text {
    text-wrap: nowrap;
    margin-right: 4px;
  }
  .text a {
    position: relative;
  }
  .text a::before {
    content: '';
    position: absolute;
    bottom: +25px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--white);
    transform: scaleX(0);
    transform-origin: left;
  }
  .text.activeUnderLine a::before {
    animation: slideIn 0.3s ease-in-out forwards;
  }

  .headerContentContainer {
    padding: 0;
  }
  .burger {
    display: none;
  }
  .navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    padding: 0;
    z-index: 0;
    background: transparent;
    width: auto;
    height: auto;
  }
  .navMenu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 0;
  }

  .navMenu ul :nth-child(2) {
    margin-bottom: 0;
  }
  .overlay {
    display: none;
  }
  .navMenu a {
    padding: 37px 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 12px;
  }

  .navMenu .text {
    text-align: center;
    height: 74px;
    display: flex;
    align-items: center;
    font: var(--body-sm-semibold);
  }
  .userInfoContainer{
    flex-direction: row;
    padding: 0;
  }
  .recipeProfileLinks {
    flex-direction: row;
    gap: 0;
  }
  .navMenu .mb8 {
    margin-right: 32px;
    margin-left: 0;
  }
  .recipeProfileLinks .recipesLink {
    margin-right: 32px;
    margin-left: 0;
  }
  .navMenu .login {
    margin-left: 0;
  }
  .changeOrderOnTablet {
    order: -1;
  }
}
