.header {
  height: 74px;
  background-color: var(--darck-brown);
  padding: 14px 0;
  color: var(--white);
}
.headerContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  z-index: 2000;
}
.burger {
  position: relative;
  z-index: 1001;
  display: block;
}
.burger:hover {
  cursor: pointer;
}
.closeIcon use {
  fill: transparent;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--darck-brown);
  z-index: 999;
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navMenu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--darck-brown);
  z-index: 1000;
  padding: 80px 20px 20px;
  transition: right 0.3s ease-in-out;
}

.navMenu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.navMenu ul :nth-child(2) {
  margin-bottom: 12px;
}

.navMenu li {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 44px;
  font: var(--body-md-semibold);
  letter-spacing: 0;
}
.navMenu a {
  display: block;
  padding: 12px;
  color: var(--white);
  text-decoration: none;
}
.navMenuOpen {
  right: 0;
}
.register,
.register:active {
  background-color: var(--light-brown);
  border-radius: 8px;
  max-width: 361px;
}
.register:hover {
  background-color: var(--brown);
  cursor: pointer;
}
.register:active {
  box-shadow:
    0 0 0 6px #4e46b41f,
    0 0 0 2px var(--white);
}
.avatarNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--light-brown);
  border-radius: 50%;
}
.line {
  display: inline-block;
  width: 1px; /* толщина */
  height: 39px;
  background-color: var(--white);
}
@media only screen and (min-width: 768px) {
  .headerContentContainer {
    padding: 0;
  }
  .burger {
    display: none;
  }
  .navMenu {
    display: flex;
    flex-direction: row;
    position: static;
    padding: 0;
    z-index: 0;
    background: transparent;
    width: auto;
    height: auto;
  }
  .navMenu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: auto;
  }
  .navMenu ul :nth-child(2) {
    margin-bottom: 0;
  }
  .overlay {
    display: none;
  }
  .navMenu a {
    padding: 12px;
  }
  .register {
    order: 3; /* Add Recipe before avatar */
  }
  .avatarNameContainer {
    order: 4; /* avatar after Add Recipe */
  }
}
