.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 24px;
  list-style: none;
  min-width: auto;
  flex-wrap: wrap;
  cursor: pointer;
  height: 40px;
}

@media screen and (min-width: 1440px) {
  .pagination {
    min-width: 320px;
    height: 32px;
  }
}

.pagination :global(.previous) {
  background: var(--light-brown);
}

.pagination :global(.next) {
  background: var(--light-brown);
}

.pagination :global(.previous) a,
.pagination :global(.next) a {
  padding: 8px;
}

.pagination :global(.previous) svg,
.pagination :global(.next) svg {
  fill: var(--white);
  color: var(--white);
}

.nextArrow {
  stroke-width: var(--white);
  fill: var(--white);
  width: 24px;
  height: 24px;
  display: block;
}

.pagination li {
  border: none;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font: var(--body-md-regular);
  padding: 16px;
  border-radius: 8px;
  transition: background-color var(--primary-transition);
}

.pagination li:not(.active) a:hover {
  background: var(--brown);
  color: var(--white);
  border-radius: 8px;
}

.pagination li:not(.active) a:focus {
  background: var(--light-brown);
  color: var(--white);
  border-color: var(--white);
  font: var(--body-md-semibold);
}

.active {
  background: var(--light-brown);
  cursor: default;
}

.active a {
  color: var(--white);
  font: var(--body-md-semibold) !important;
  cursor: default;
}

.pagination li:hover:not(.active),
.pagination li:focus:not(.active) {
  background: var(--brown);
}

.paginationPlaceholder {
  height: 44px;
  margin: 40px auto;
  opacity: 0;
  display: none;
}

.disabled {
  display: none;
}
