.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 48px;
  margin-top: 24px;
  list-style: none;
  min-width: 348px;
  cursor: pointer;
  height: 40px;
}

@media screen and (min-width: 1440px) {
  .pagination {
    min-width: 320px;
    height: 32px;
  }
}

.pagination :global(.previous) {
  background: var(--light-brown);
}

.pagination :global(.next) {
  background: var(--light-brown);
}

.pagination :global(.previous) a,
.pagination :global(.next) a {
  padding: 8px;
}

.pagination :global(.previous) svg,
.pagination :global(.next) svg {
  fill: #fff;
  color: #fff;
}
.nextArrow {
  stroke-width: #fff;
  fill: #fff;
  width: 24px;
  height: 24px;
  display: block;
}

.pagination li {
  border: none;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  transition: background-color var(--primary-transition);
}

.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font: var(--body-md-regular);
  padding: 16px;
}

.pagination li:hover,
.pagination li:focus {
  background: var(--beige);
}

.active {
  background: var(--light-brown);
}

.active a {
  color: #fff !important;
  font: var(--body-md-semibold);
}

.paginationPlaceholder {
  height: 44px;
  margin: 40px auto;
  opacity: 0;
}

.disabled {
  display: none;
}
