@media screen {
  .nav {
    display: flex;
    justify-content: start;
    gap: 38px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .tab {
    font: var(--body-lg-semibold);
    position: relative;
  }

  .tab::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  .active::after {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .tab {
    font: var(--body-sm-semibold);
  }
}
