.filtersSection {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.filtersWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 16px;
  position: relative;
}

@media (min-width: 1440px) {
  .filtersWrapper {
    flex-direction: row;
    align-items: center;
  }
}

.filtersHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.totalRecipes {
  font: var(--body-lg-semibold);
}

.filtersToggle {
  font: var(--body-sm-semibold);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1440px) {
  .filtersToggle {
    display: none;
  }
}

.filtersPanel {
  position: absolute;
  top: 60%;
  left: 72px;
  right: 0;
  display: flex;
  width: 80%;
  background-color: var(--white);
  box-shadow: 0 0 1px 0 rgba(38, 9, 9, 0.4), 0 8px 24px -6px rgba(0, 0, 0, 0.16);
  padding: 16px 12px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(8px);
  transition: opacity 150ms ease, transform 150ms ease;

}

@media (min-width: 768px) {
  .filtersPanel {
    width: 288px;
    left: 414px;

  }
}

@media (min-width: 1440px) {
  .filtersPanel {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    transform: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
    opacity: 1;
    pointer-events: auto;

  }
}

.filtersPanelOpen {
  opacity: 1;
  pointer-events: auto;
}