.filtersSection {
  margin-top: 16px;
  margin-bottom: 16px;
}

.filtersWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  border: 0.5px dashed blue;
}

.totalRecipes {
  font: var(--body-lg-semibold);
}