.heroForm {
}

.heroInput {
  /* font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--gray-3); */
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  height: 46px;
  max-height: 48px;
  margin-bottom: 24px;
  background-color: var(--white);
}

.heroBtn {
  font-family: var(--font-family);
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  height: 46px;
  color: var(--white);
  background: var(--light-brown);
}
