.heroForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heroInput {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  height: 46px;
  max-height: 48px;
  background-color: var(--white);
}

.heroInput:hover,
.heroInput:focus {
}

.heroInput:active {
}

.heroInput::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--gray-3);
}

.heroBtn {
  font-family: var(--font-family);
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  height: 46px;
  color: var(--white);
  background: var(--light-brown);
  transition:
    background 250ms,
    box-shadow 250ms;
}

.heroBtn:hover,
.heroBtn:focus {
  background: var(--brown);
}

.heroBtn:active {
  box-shadow:
    0 0 0 6px rgba(78, 70, 180, 0.12),
    0 0 0 2px var(--white);
  background: var(--light-brown);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .heroForm {
    flex-direction: row;
    gap: 24px;
  }

  .heroBtn {
    width: 176px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .heroForm {
    gap: 12px;
  }

  .heroBtn {
    width: 190px;
  }
}
