.heroForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputWrapper {
  position: relative;
}

.heroInput {
  font: var(--body-lg-regular);
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  height: 46px;
  max-height: 48px;
  background-color: var(--white);
  color: var(--black);
  outline: none;
  transition: box-shadow var(--primary-transition);
}

.heroInput:hover,
.heroInput:focus {
  /* box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2); */
  box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.6);
}

.heroInputError {
  border-color: var(--red);
}

.errorText {
  position: absolute;
  font: var(--body-sm-regular);
  color: var(--red);
  top: 51px;
  left: 12px;
}

.heroInput::placeholder {
  font: var(--body-lg-regular);
  color: var(--gray-3);
}

.heroBtn {
  font: var(--body-md-semibold);
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  height: 46px;
  color: var(--white);
  background: var(--light-brown);
  transition:
    background var(--primary-transition),
    box-shadow var(--primary-transition);
}

.heroBtn:hover,
.heroBtn:focus {
  background: var(--brown);
}

.heroBtn:active {
  box-shadow:
    0 0 0 6px rgba(78, 70, 180, 0.12),
    0 0 0 2px var(--white);
  background: var(--light-brown);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .heroForm {
    flex-direction: row;
    gap: 24px;
  }

  .heroInput {
    width: 471px;
  }

  .heroBtn {
    width: 176px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .heroForm {
    gap: 12px;
  }

  .heroInput {
    width: 459px;
  }

  .heroBtn {
    width: 190px;
  }
}
