@media screen {
  .addRecipeForm {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    width: 361px;
    padding-top: 16px;
  }

  .addRecipeInfoBlock {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
  }

  .addRecipeGeneralGroup,
  .addRecipeInstructionsGroup {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .addRecipeIngredientsGroup {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
  }

  .addRecipeInstructionsGroup {
    width: 361px;
  }

  .addRecipeCalsAndCategoryWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    width: 361px;
    height: 78px;
  }

  /* ==================================== */
  /* Typography
  /* ==================================== */

  .addRecipeTitle {
    font: var(--display-lg-semibold);
    color: var(--black);
  }

  .addRecipeFormBlockTitle {
    font: var(--display-sm-semibold);
    color: var(--black);
  }

  .addRecipeFormBlockSubtitle {
    font: var(--body-lg-regular);
    color: var(--black);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
  }

  .errorMessage {
    font: var(--body-sm-regular);
    color: var(--red);
  }

  /* ==================================== */
  /* Thumb & File Input */
  /* ==================================== */

  .imagePlaceholder,
  .addRecipeFormPreviewImage {
    border-radius: 16px;
    width: 361px;
    height: 383px;
    object-fit: cover;
    object-position: center;
    background-image: url('../../public/img-default/default-img-mobile.jpg');
  }

  .customFileInputWrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-top: 8px;
  }

  .hiddenFileInput {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
  }

  .fileNameDisplay {
    display: none;
  }

  /* ==================================== */
  /* Input & Textarea */
  /* ==================================== */

  .addRecipeFormInput,
  .addRecipeFormIngredientsInput {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 12px;
    width: 361px;
    color: var(--black);
    font: var(--body-lg-regular);
    align-items: center;
    height: 46px;
    max-height: 48px;
  }

  .addRecipeFormIngredientsInput:first-child {
    margin-bottom: 24px;
  }

  .addRecipeFormTextarea,
  .addRecipeFormInstructionsTextarea {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 12px;
    width: 361px;
    color: var(--black);
    font: var(--body-lg-regular);
    resize: none;
    align-items: flex-start;
    height: 144px;
  }

  .addRecipeFormInstructionsTextarea {
    margin-top: 16px;
  }

  .addRecipeFormCategoryInput,
  .addRecipeFormCalsInput {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 12px;
    color: var(--black);
    font: var(--body-lg-regular);
    align-items: center;
    width: 172px;
    height: 46px;
    max-height: 48px;
  }

  .addRecipeFormInput::placeholder,
  .addRecipeFormIngredientsInput::placeholder,
  .addRecipeFormTextarea::placeholder,
  .addRecipeFormInstructionsTextarea::placeholder,
  .addRecipeFormCategoryInput::placeholder,
  .addRecipeFormCalsInput::placeholder {
    color: var(--gray);
  }

  /* ==================================== */
  /* Buttons */
  /* ==================================== */

  .addIngredientButton,
  .addRecipeFormButtonSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    border-radius: 8px;
    padding: 12px 16px;
    width: 361px;
    height: 44px;
    background-color: var(--light-brown);
    color: var(--white);
    font: var(--body-md-semibold);
    cursor: pointer;
    transition:
      background-color var(--primary-transition),
      box-shadow var(--primary-transition);
  }

  .addIngredientButton:hover,
  .addIngredientButton:focus,
  .addRecipeFormButtonSubmit:hover,
  .addRecipeFormButtonSubmit:focus {
    background-color: var(--brown);
  }

  .addIngredientButton:active,
  .addRecipeFormButtonSubmit:active {
    box-shadow:
      0 0 0 6px rgba(78, 70, 180, 0.12),
      0 0 0 2px var(--white);
    background-color: var(--light-brown);
  }

  .removeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    border-radius: 8px;
    padding: 0px 0px 4px;
    width: 24px;
    height: 28px;
  }

  .removeIcon {
    stroke: currentColor;
    fill: none;
    width: 16px;
    height: 16px;
  }

  /* ==================================== */
  /* Ingreadients Table */
  /* ==================================== */

  .ingredientsTable {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .tableHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    padding-bottom: 12px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .tableRow {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
  }

  .tableName,
  .tableAmount {
    display: flex;
    align-items: center;
  }

  /* ==================================== */
  /* Validation Errors */
  /* ==================================== */

  .addRecipeFormInput.is-invalid,
  .addRecipeFormIngredientsInput.is-invalid,
  .addRecipeFormTextarea.is-invalid,
  .addRecipeFormInstructionsTextarea.is-invalid,
  .addRecipeFormCategoryInput.is-invalid,
  .addRecipeFormCalsInput.is-invalid {
    border-color: var(--red);
  }

  .addRecipeFormInput.is-invalid::placeholder,
  .addRecipeFormIngredientsInput.is-invalid::placeholder,
  .addRecipeFormTextarea.is-invalid::placeholder,
  .addRecipeFormInstructionsTextarea.is-invalid::placeholder,
  .addRecipeFormCategoryInput.is-invalid::placeholder,
  .addRecipeFormCalsInput.is-invalid::placeholder {
    color: var(--red);
  }
}
