.addRecipeForm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 361px;
  padding-top: 16px;
}

.addRecipeFormBlockTitle {
  font: var(--display-sm-semibold);
  color: var(--black);
}
/* 
.addRecipeImgBlock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
} */

.addRecipeInfoBlock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}
/* Thumb block styles */

.imagePlaceholder,
.addRecipeFormPreviewImage {
  border-radius: 16px;
  width: 361px;
  height: 383px;
  background-color: var(--gray-3);
}

.customFileInputWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-top: 8px;
}

/* --- Секція приховування стандартного інпуту --- */

.hiddenFileInput {
  /* Важливо: робить інпут невидимим, але функціональним */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Розміщує інпут ПОВЕРХ кастомної кнопки */
  z-index: 10;
  cursor: pointer;
}

.fileNameDisplay {
  display: none;
}

.addRecipeFormBlockSubtitle {
  font: var(--body-lg-regular);
  color: var(--black);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.addRecipeFormInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 46px;
  max-height: 48px;
  color: var(--gray);
}

.addRecipeFormTextarea {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 144px;
  color: var(--gray);
}

.addRecipeGeneralGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}
.addRecipeCalsAndCategoryWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  width: 361px;
  height: 78px;
}

.addRecipeFormCategoryInput,
.addRecipeFormCalsInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 172px;
  height: 46px;
  max-height: 48px;
}

.addRecipeIngredientsGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.addIngredientButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  border-radius: 8px;
  padding: 12px 16px;
  width: 361px;
  height: 44px;
  background-color: var(--light-brown);
  color: var(--white);
  font: var(--body-md-semibold);
  cursor: pointer;
  transition:
    background-color var(--primary-transition),
    box-shadow var(--primary-transition);
}

.addIngredientButton:hover,
.addIngredientButton:focus {
  background-color: var(--brown);
}

.addIngredientButton:active {
  box-shadow:
    0 0 0 6px rgba(78, 70, 180, 0.12),
    0 0 0 2px var(--white);
  background-color: var(--light-brown);
}

.addRecipeInstructionsGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 361px;
}

.addRecipeFormButtonSubmit {
}
