.heroSection {
  background-image: url('/hero/hero-mobile.webp');
  background-size: cover;
  background-position: center;
}

@media (min-resolution: 192dpi) {
  .heroSection {
    background-image: url('/hero/hero-mobile@2x.webp');
  }
}

.overlay {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.heroWrapper {
  padding: 128px 16px 98px 16px;
}

.tittleWrapper {
  margin-bottom: 24px;
}

.title {
  font: var(--display-lg-semibold);
  color: var(--white);
  margin-bottom: 24px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .heroSection {
    background-image: url('/hero/hero-tablet.webp');
  }

  .heroWrapper {
    padding: 128px 33px 128px 0px;
  }

  .title {
    font: var(--display-xl-semibold);
    width: 493px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .heroSection {
    background-image: url('/hero/hero-tablet@2x.webp');
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .heroSection {
    background-image: url('/hero/hero-desktop.webp');
  }

  .heroWrapper {
    padding: 128px 563px 128px 0px;
  }

  .title {
    font: var(--body-h1);
  }
}

@media (min-resolution: 192dpi) and (min-width: 1440px) {
  .heroSection {
    background-image: url('/hero/hero-desktop@2x.webp');
  }
}
