:root {
  /* Color Vars*/

  --black: #000;
  --gray: #595d62;
  --white: #fff;
  --light-brown: #9b6c43;
  --light-beige: #faf3e0;
  --light-gray: #d9d9d9;
  --darck-brown: #3d2218;
  --background: #fbfcf8;
  --brown: #6d554b;
  --light-gray-2: #d3d3d3;
  --light-gray-3: #c5c5c5;
  --gray-3: #9f9f9f;
  --social-media-background: rgba(255, 255, 255, 0);
  --gray-2: #575757;
  --black-2: #070707;
  --beige: #e3caa5;
  --beige-2: #edd9aa;
  --white-55: rgba(255, 255, 255, 0.55);
  --white-80: rgba(255, 255, 255, 0.8);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --white-55-: rgba(255, 255, 255, 0.55);
  --white-80-: rgba(255, 255, 255, 0.8);
  --darck-brown-65-: rgba(61, 34, 24, 0.65);
  --icon-gray: #3a3a3a;
  --light-beige-2: #fffbe9;
  --darck-gray: #323232;
  --light-beige-3: #e1d7c6;
  --red: #c80000;

  /* Font Vars*/

  --display-xl-semibold: 600 48px / 1.1 'Montserrat', sans-serif;
  --display-lg-semibold: 600 40px 'Montserrat', sans-serif;
  --display-md-semibold: 600 32px 'Montserrat', sans-serif;
  --display-sm-regular: 400 24px 'Montserrat', sans-serif;
  --display-sm-semibold: 600 24px 'Montserrat', sans-serif;
  --display-sm-bold: 700 24px 'Montserrat', sans-serif;
  --body-lg-regular: 400 18px 'Montserrat', sans-serif;
  --body-lg-semibold: 600 18px 'Montserrat', sans-serif;
  --body-md-regular: 400 16px / 1.55 'Montserrat', sans-serif;
  --body-md-semibold: 600 16px 'Montserrat', sans-serif;
  --body-sm-regular: 400 12px 'Montserrat', sans-serif;
  --body-sm-semibold: 600 12px 'Montserrat', sans-serif;
  --body-h1: 600 48px 'Montserrat', sans-serif;

  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
body {
  line-height: 1.5;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
optgroup,
textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: vertical;
}
