@media screen {
  .сontainerNotFound {
    padding: 79px 16px;
    text-align: center;
  }

  .notFoundImg {
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .notFoundTitle {
    font: var(--display-xl-semibold);
    margin-bottom: 16px;
  }

  .notFoundDescription {
    font: var(--display-sm-regular);
    margin-bottom: 32px;
  }

  .notFoundBackButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    max-width: 361px;
    width: 100%;
    border-radius: 8px;
    padding: 16px;
    background: var(--light-brown);
  }

  .notFoundButtonDescription {
    font: var(--body-lg-semibold);
    color: var(--white);
  }
}

@media screen and (min-width: 768px) {
  .сontainerNotFound {
    padding: 133px 84px;
  }

  .notFoundImg {
    width: 600px;
    height: 438px;
  }
}

@media screen and (min-width: 1440px) {
  .сontainerNotFound {
    padding: 38px 107px;
  }
}
