.cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 288px;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 16px;
    background: var(--light-beige);
    margin-left: auto;
    margin-right: auto;
}

.title {
    font: var(--display-sm-bold);
    color: var(--black);
    min-width: 211px;

}

.img {
    border-radius: 8px;
}

.titleWrapper {
    display: flex;

}

.timeWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    padding: 2px 8px 2px 4px;
    background-color: var(--white);
    max-height: 28px;
}


.recipeTime {
    font: var(--display-sm-semibold);
    font-size: 12px;
}

.descriptionWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.description {
    font: var(--body-md-regular);
    color: var(--black);
    line-height: 1.55;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
}

.button {
    border: 1px solid var(--black);
    border-radius: 8px;
    padding: 8px 60px;
    margin-right: auto;

    height: 40px;
    font: var(--body-md-semibold);
    font-weight: 600;
    font-size: 16px;
    color: var(--black);

}

.favoriteIcon {
    border: 1px solid var(--black);
    border-radius: 8px;
    padding: 8px;
    width: 40px;
    height: 40px;

}