/* .cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    padding: 12px;
    width: 361px;
    height: 483px;
    margin-left: auto;
    margin-right: auto;
    background: var(--light-beige);
} */

.title {
    font: var(--display-sm-bold);
    color: var(--black);
    /* min-width: 211px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.img {
    border-radius: 8px;
    width: 337px;
    height: 230px;
}

@media screen and (min-width: 768px) {
    .img {
        width: 315px;
    }
}

@media screen and (min-width: 1440px) {
    .img {
        width: 264px;
        height: 178px;
    }
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    height: 58px;
}

.timeWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    padding: 2px 8px 2px 4px;
    background-color: var(--white);
    max-height: 28px;
}

.timeIcon {
    fill: var(--white);
    stroke: var(--black);
}

.recipeTime {
    font: var(--display-sm-semibold);
    font-size: 12px;
}

.descriptionWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 83px;
}

.description {
    font: var(--body-md-regular);
    color: var(--black);
    line-height: 1.55;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.descriptionCals {
    font: var(--body-md-regular);
    color: var(--black);
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
}

.button {
    border: 1px solid;
    background-color: var(--light-brown);
    border-radius: 8px;
    padding: 8px;
    width: 289px;
    height: 40px;
    font: var(--body-md-semibold);
    color: var(--white);
    text-align: center;
    transition: all var(--primary-transition);
}

.button:hover {
    background: var(--brown);
}

.button:active {
    box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px var(--white);
    background: var(--light-brown);
}

@media screen and (min-width: 768px) {
    .button {
        width: 267px;
    }
}

@media screen and (min-width: 1440px) {
    .button {
        width: 216px;
    }
}

.favoriteButton {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--primary-transition);
    background-color: var(--light-brown);
}

.favoriteIcon {
    display: block;
    color: var(--black);
    transition: color var(--primary-transition);
}

.favoriteButton.active {
    background-color: var(--light-brown);
    border-color: var(--light-brown);
}

.favoriteButton.active .favoriteIcon {
    color: var(--white);
}

.favoriteButton:hover {
    background: var(--brown);
    border-color: var(--brown);
}

.favoriteButton:hover .favoriteIcon {
    /* color: var(--black); */
}

.favoriteButton:active {
    background: var(--brown);

}