/** Modal Backdrop */
.modalBackdrop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 320px;
  height: 222px;
  padding: 0 16px;
  margin: 0 auto;


  background-color: var(--white);
  border: 1px dashed grey;
  border-radius: 8px;

  padding: 16px 12px;
  margin-top: 16px;


}

@media (min-width: 1440px) {
  .modalBackdrop {
    display: none;
  }
}

/*! Modal Backdrop*/


.modal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.closeButton {
  display: flex;
  align-items: center;
  font: var(--body-sm-semibold);
  color: var(--black);
  margin-bottom: 30px;



}

.closeIcon {
  color: black;
}