/** Modal Backdrop */
.modalBackdrop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column-reverse;

  width: 100%;
  height: 178px;

  padding: 16px 12px;



  background-color: var(--white);
  /* border: 1px dashed grey; */
  border-radius: 8px;

  padding: 16px 12px;




  /* border: 1px dashed red; */


}

@media (min-width: 1440px) {
  .modalBackdrop {
    display: none;
  }
}

/*! Modal Backdrop*/


.modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

}

.closeButton {
  display: flex;
  align-items: center;
  font: var(--body-sm-semibold);
  color: var(--black);
  margin-bottom: 30px;



}

.closeIcon {
  color: black;
}