/* 
.modalBackdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

}

@media (min-width: 1440px) {
  .modalBackdrop {
    display: none;

  }
}




.modal {
  background-color: var(--white);
  border-radius: 8px;
  width: 320px;
  height: 222px;
  padding: 16px 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;


}

.closeButton {
  display: flex;
  align-items: center;
  font: var(--body-sm-semibold);
  color: var(--black);
  margin-bottom: 30px;
}

.closeIcon {
  color: black;
} */