@media screen {
  .footer {
    background-color: var(--darck-brown);
    width: 100%;
    color: var(--white);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .footerNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    max-width: 393px;
    width: 100%;
  }

  .footerCopyright {
    font: var(--body-sm-regular);
  }

  .footerLinksContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    font: var(--body-md-semibold);
  }

  .footerLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    border-radius: 8px;
    padding: 0px 0px 4px;
    width: 65px;
    height: 24px;
  }

  .footerLink:hover,
  .footerLink:focus {
    opacity: 0.5;
  }

  .footerLink:active {
    border-bottom: 1px solid #fff;
    border-radius: 0;
  }
}

/* TABLET STYLES */
@media screen and (min-width: 768px) {
  .footerNav {
    max-width: 768px;
  }

  .footerLinksContainer {
    flex-direction: row;
    gap: 32px;
    width: 167px;
  }
}

/* DESC STYLES */
@media screen and (min-width: 1440px) {
  .footerNav {
    flex-direction: row;
    gap: 305px;
    max-width: 1440px;
  }

  .footerLinksContainer {
    gap: 32px;
  }
}
