.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 0 16px;
}

.modal {
  background-color: var(--light-beige);
  border-radius: 32px;
  padding: 16px 24px 32px;
  max-width: 362px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 1.55;
  max-height: 90vh;
  overflow-y: auto;
}

.closeButton {
  display: flex;
  margin-left: auto;
  margin-bottom: 8px;
  cursor: pointer;
  transition: var(--primary-transition);
  padding: 2px;
  border-radius: 50%;
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.closeButton:active {
  transform: scale(0.9);
  background-color: rgba(0, 0, 0, 0.2);
}

.closeButton svg {
  transition: stroke 0.2s ease;
}

.closeButton:hover svg {
  stroke: var(--light-brown); /* змінити колір іконки при hover */
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 420px;
    padding: 16px 32px 32px;
    width: 100%;
  }

  .closeButton {
    margin-bottom: 12px;
  }
}

/*
@media screen and (min-width: 1440px) {
  .modal {

  }

} */
