.title {
  margin-bottom: 20px;
  font: var(--display-md-semibold);
}
.text {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font: var(--body-md-regular);
}
.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.login_btn,
.register_btn {
  font: var(--body-lg-semibold);
  border-radius: 8px;
  border: 1px solid #000000;
  width: 100%;
  padding: 16px;
  transition: var(--primary-transition);
  cursor: pointer;
}

.login_btn:hover,
.login_btn:focus {
  color: var(--white);
  background-color: var(--light-brown);
}

.register_btn:hover,
.register_btn:focus {
  color: var(--white);
  background-color: var(--light-brown);
}

@media (min-width: 768px) {
  .btn_container {
    flex-direction: row;
    justify-content: space-between;
  }

  .login_btn,
  .register_btn {
    font: var(--body-md-semibold);
    padding: 8px;
  }

  .text {
    width: 320px;
  }

  .auth_modal {
    padding-bottom: 56px;
  }
}
