.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--black-60);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  padding: 64px 20px;
}

.modal {
  background-color: var(--light-beige);
  padding: 56px 24px 32px 24px;
  border-radius: 40px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  min-width: 362px;
}

.btnLogout {
  background: var(--red);
  color: var(--white);
  text-wrap: nowrap;
}
.btnRegister {
}
.btnCancel, .btnLogin {
  background: var(--light-beige);
  border: 1px solid var(--black);
}
.btnGoToMyProfile {
}
.btnLogout:hover,
.btnLogout:focus{
  opacity: 0.7;
  transition: opacity var(--primary-transition);
}
.btnCancel:hover,
.btnCancel:focus {
    background: var(--beige-2);
    border: none;
    color: var(--white);
    transition: background var(--primary-transition);
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.closeButton svg {
  color: var(--black);
  width: 24px;
  height: 24px;
}

.closeButton:hover svg,
.closeButton:focus svg {
  color: var(--black-60);
}
.title {
  font: var(--body-md-semibold);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 20px;
  color: var(--font-color);
}
.ulElement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.buttonCancel {
  border-radius: 8px;
  padding: 16px 16px;
  text-align: center;
  width: 314px;
  height: 54px;
  cursor: pointer;
}

.buttonAccept {
  text-align: center;
  border-radius: 8px;
  padding: 16px 16px;
  width: 314px;
  height: 54px;
  cursor: pointer;
}

.paragraph {
  text-align: center;
  font: var(--body-md-regular);
  text-wrap: wrap;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding: 64px 32px;
  }
  .modal {
    padding: 56px 32px 32px 32px;
    width: 420px;
  }
  .closeButton {
    right: 32px;
  }
  .ulElement {
    display: flex;
    flex-direction: row;
    column-gap: 27px;
    align-items: normal;

  }
  .buttonAccept {
    padding: 12px 54px;
    height: 44px;
    width: 164px;
  }
  .buttonCancel {
    padding: 12px 54px;
    height: 44px;
    width: 164px;
  }
}
@media screen and (min-width: 1440px) {
  .modal {
    padding: 56px 32px;
    min-height: 277px;
  }
  .closeButton {
    top: 32px;
  }
  .buttonAccept {
    padding: 8px 56px;
    height: 36px;
  }
  .buttonCancel {
    padding: 8px 56px;
    height: 36px;
  }
}
