.addRecipeMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.addRecipeTitle {
  font: var(--display-lg-semibold);
  color: var(--black);
}

.addRecipeForm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 361px;
}
