@media screen {
  .addRecipeMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
