.inputResetWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: 100%;
}

@media (min-width: 1440px) {
  .inputResetWrapper {
    flex-direction: row;
    gap: 24px;
    align-items: center;
    flex-flow: row-reverse;
    width: 480px;

  }
}


.filterFieldsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

@media (min-width: 1440px) {
  .filterFieldsWrapper {
    flex-direction: row;
  }
}

.filtersField {
  width: 100%;

}

@media (min-width: 1440px) {
  .filtersField {
    width: 179px;
    height: 33px;
  }
}

.resetButton {
  font: var(--body-sm-semibold);
  border-bottom: 1px solid var(--black);
  cursor: pointer;

}

@media (min-width: 1440px) {
  .resetButton {
    width: auto;
    white-space: nowrap;
    flex-shrink: 0;
  }
}