/* Select field */
.trigger {
  position: relative;
  display: flex;

  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  border: 1px solid var(--light-gray);
  font: var(--body-md-regular);
  background-color: var(--white);
  color: var(--gray);
  cursor: pointer;

}

@media (min-width: 1440px) {
  .trigger {

    width: 179px;
  }
}

/* placeholder style */
.trigger [data-placeholder] {
  color: #9f9f9f;

}

/* Focus on keyboard action only*/
.trigger:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
}

/* Arrow down icon */
.icon {
  position: absolute;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;


}

/* Rotate arrow when open */
.trigger[data-state='open'] svg {
  transform: rotate(180deg);
}

/* Dropdown panel */
.content {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4), 0 8px 24px -6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  z-index: 1001;

  width: var(--radix-select-trigger-width);
}

.viewport {
  padding: 8px 8px;
  max-height: calc(6 * 41px);
  overflow-y: auto;
  width: 100%;


}

/* Dropdown item */
.item {
  padding: 8px 12px;
  font: var(--body-md-regular);
  color: var(--black);
  cursor: pointer;
}

/* highlighted (hover / keyboard focus) */
.item[data-highlighted] {
  outline: none;
  background-color: #e6e6e6;
}

/* selected item – optional different style */
.item[data-state='checked'] {
  font: var(--body-md-regular);
}